# Dependencies
node_modules/
.pnp
.pnp.js

# Build
.next/
out/
build/
dist/

# Production
*.tsbuildinfo
next-env.d.ts

# Debug
npm-debug.log*

# Env
.env*.local

# IDE
.vscode/
.idea/
*.swp
*.swo
.DS_Store
.vercel
